* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Nexarust";
  src: url("NexaRustSans-Trial-Black2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.header-container {
  width: 100%;
  height: 330px;
  background-image: url("../media/block_party/header.JPEG");
  background-repeat: no-repeat;
  background-position: center 70%;
  background-size: 110% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Nexarust";
  color: white;
  font-size: 48px;
  text-align: center;
}

.text-and-image {
  display: grid;
  grid-template-columns: auto auto; /* Adjust column ratio as needed */
  grid-template-rows: auto auto;
  gap: 1rem; /* Optional spacing */
  align-items: start; /* gap: 64px; */
  justify-content: center;
  align-items: start;
  padding: 16px 12px;
  width: 100%;
}

.image-container,
.landscape-container {
  width: 500px;
  /* height: 500px; */
  display: flex;
  justify-content: center;
  grid-row: 1 / span 2; /* Span both rows */
  grid-column: 1;
  align-self: center;
}

.landscape-container {
  width: 600px;
}

.landscape-container img {
  width: 500px;
  height: 350px;
  border-radius: 12px;
  object-fit: cover;
  position: center;
}

.image-container img {
  width: 400px;
  height: 400px;
  border-radius: 12px;
  object-fit: cover;
  position: center;
}

.text-and-image h2 {
  grid-row: 1;
  grid-column: 2;
  margin: 0;
  align-self: end;
}

.text-container {
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 450px;
  font-family: "roc-grotesk";
  grid-row: 2;
  grid-column: 2;
  align-self: start;
}

.text-and-image.flipped .image-container {
  grid-column: 2;
}

.text-and-image.flipped .landscape-container {
  grid-column: 2;
}

.text-and-image.flipped h2,
.text-and-image.flipped .text-container {
  grid-column: 1;
}

p {
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

h2 {
  font-weight: bolder;
  padding: 0px;
  margin: 0px;
  font-family: "roc-grotesk";
  color: #ee7d31;
}

.block-party-button {
  width: 150px;
  background-color: black;
  color: white;
  border-radius: 0px;
  padding: 16px 12px;
  font-family: "roc-grotesk";
  border: none;
  align-self: center;
  font-size: 12px;
}

a {
  align-self: center;
}

.block-party-button:hover {
  cursor: pointer;
  opacity: 70%;
}

.sponsors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px;
}

.sponsors-container a {
  text-align: center;
  font-size: 16px;
  font-family: "roc-grotesk";
}

.sponsors-container h4 {
  margin: 0;
  padding: 0;
}

.sponsor-list {
  display: flex;
  flex-direction: column;
}

.sponsor-list a {
  color: black;
  text-decoration: none;
}

.sponsor-list a:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  button {
    margin: 12px;
  }
  .text-container {
    width: 350px;
  }

  .text-container p {
    margin: 0;
  }

  .image-container,
  .landscape-container {
    width: 300px;
  }

  .image-container img {
    width: 250px;
    height: 250px;
    border-radius: 9px;
  }

  .landscape-container img {
    width: 300px;
    height: 200px;
    border-radius: 9px;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 30px;
  }

  .header-container {
    height: 200px;
  }

  .text-and-image {
    grid-template-columns: 175px 175px; /* Keep two columns */
    grid-template-rows: auto auto;
    text-align: center;
    justify-items: center;
    align-content: center;
    padding: 24px;
    column-gap: 8px;
  }

  .image-container img {
    width: 175px;
    height: 175px;
    border-radius: 6px;
  }

  .landscape-container img {
    width: 200px;
    height: 150px;
    border-radius: 6px;
  }

  .text-container {
    width: 100%;
    padding: 16px 12px;
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  .text-and-image.flipped .text-container {
    grid-column: 1 / span 2;
  }

  .text-and-image.flipped .image-container {
    grid-column: 1;
  }

  .text-and-image.flipped .landscape-container {
    grid-column: 1;
  }

  .text-and-image.flipped h2 {
    grid-column: 2;
  }

  .text-and-image h2 {
    grid-row: 1;
    grid-column: 1;
    font-size: 20px;
    align-self: center;
    width: 150px;
  }

  .image-container,
  .landscape-container {
    justify-self: center;
    grid-row: 1;
    grid-column: 2;
  }

  .container {
    gap: 0px;
  }
}
