/*Slideshow Styles*/

.slideshow-container {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  justify-content: center;
  margin-bottom: 5vh;
}

.slide, .studio-slide {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  background-size: cover;
  background-position: center;
  transition: all 0.8s ease;
  container-type: inline-size;
}

.studio-slide {
  left: 0%;
  background-image: url('../media/header-slides/studio-banner.png');
}

.slide:nth-child(1) {
  background-image: url('../media/lowres/slide1_lowres.jpg');
}

.slide:nth-child(2) {
  background-image: url('../media/header-slides/benitoes-header.png');
}

.slide:nth-child(3) {
    background-image: url('../media/header-slides/new-team-slide-phoot.png');
  }

.slide-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
  padding-left: 10vw;
  width: 40vw;
  max-width: 500px;
}

.slide-content h1 {
  font-size: 2rem;
  margin: 0;
  font-family: "roc-grotesk", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 2.0rem;
}

.slide-content p {
  font-family: roc-grotesk, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.slide-content button {
  background-color: white;
  color: black;
  outline: 2px solid white; /* Adds a small white outline */
  outline: 10px;
  max-width: 400px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 4px;
  font-family: roc-grotesk, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.slide-content button:hover {
  background-color: rgba(0, 0, 0, 0);
  outline: 2px solid white; /* Adds a small white outline */
  outline-color: white;
  color: white;
  transition: 0.3s; 

}


.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  outline: 10px;
  outline-color: white;
  cursor: pointer;
  outline: 2px solid white; /* Adds a small white outline */

}

.dot.active {
  background-color: white;
}

@media screen and (max-width: 750px)
{
  .slide {
    background-position: 65% 50%;
    
  }

  .slideshow-container {
    font-size: clamp(1rem, 15%, 5vh);
  }

  .slideshow-container h1 {
    font-size: clamp(2rem, 10%, 5vh);
    line-height: 1.6rem;
  }
}

@media screen and (max-width: 575px){

  .slide-content{
    width: 80vw;
  }
}